<div class="modal-header">
  <h4 class="modal-title" id="modal-personal-info">User Summary</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(activeModal)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class='row'>
    <div class='col-sm-offset-1 col-sm-11'>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <label class="control-label font-weight-bold" for="name">Name: </label>
          </div>
        </div>
        <div class='col-sm-6'>
          {{userData.name}}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <label class="control-label font-weight-bold" for="name">Username: </label>
          </div>
        </div>
        <div class='col-sm-6'>
          {{userData.username}}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <label class="control-label font-weight-bold" for="email">Email: </label>
          </div>
        </div>
        <div class='col-sm-6'>
          {{userData.email}}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <label class="control-label font-weight-bold" for="address">Address: </label>
          </div>
        </div>
        <div class='col-sm-6'>
          {{userData.address.suite}}
          <br/>
          {{userData.address.street + ', ' + userData.address.city}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-warning btn-outline-rounded"
          (click)="goToPrevious(activeModal)"> Previous <span style="margin-left:10px;"
                                                              class="fa fa-arrow-left"></span></button>
  <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!formValid"
          (click)="createOrUpdateUser()"> Save <span style="margin-left:10px;"
                                                     class="fa fa-save"></span></button>
</div>
