<div class="page-wrapper ice-theme" [ngClass]="{'toggled' : sideBarService.getSidebarState()}">
  <app-sidebar></app-sidebar>
  <main class="page-content">
    <div id="overlay" class="overlay"></div>
    <app-navbar></app-navbar>
    <div class="container-fluid m-bottom-40">
      <router-outlet></router-outlet>
    </div>
    <div class="overlay" (click)="sideBarService.toggle()"
         [ngClass]="{'show' : !sideBarService.getSidebarState()}"></div>
    <footer class="footer text-center">
      <div class='container-fluid h-100'>
        <div class="row align-items-center h-100">
          <span style="flex-grow: 1;"><img src="" style="width: 55px; margin-right: -13px; margin-top: -3px;"
                                           alt="Logo"> Developed by Ashar Gillani, &copy; 2021 </span>
        </div>
      </div>
    </footer>
  </main>
</div>
