<div class="page-wrapper ice-theme" style="background-color: #f5f5f5" [ngClass]="{'toggled' : sideBarService.getSidebarState()}">
  <app-sidebar></app-sidebar>
  <main class="page-content">
    <div id="overlay" class="overlay"></div>
    <app-navbar></app-navbar>
    <div class="container-fluid m-bottom-40">
      <router-outlet></router-outlet>
    </div>
    <div class="overlay" (click)="sideBarService.toggle()"
         [ngClass]="{'show' : !sideBarService.getSidebarState()}"></div>
    <footer class="footer">
      <p class="text-center">Developed by Ashar Gillani, &copy; 2021 </p>
    </footer>
  </main>
</div>
