<div class="row">
  <div class="col-sm-12 px-4">
    <div class="card bg-white rounded-2 px-2 py-3">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="pb-3 mb-4 font-italic border-bottom bg-light">
            View Blog
          </h4>
          <div class="blog-post">
            <h4>{{ post.title | uppercase }}</h4>
            <p class="blog-post-meta">
              <i class="fa fa-user-circle"></i>
               {{ postUser.email }} [<a href="#">{{ postUser.name }}</a>]
            </p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic
              typography, images, and code are all supported.</p>
            <hr>
            <p> {{ post.body }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
